.clients{
    display: flex;
    gap: 30px;
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    border: 1px solid var(--border-client);
    border-radius: 4px;

    color: #afb1b8;

    transition: color 250ms var(--cubic-bz),
        border 250ms var(--cubic-bz);

    &:hover,
    &:focus {
        border: 1px solid var(--premary-color);
        color: var(--premary-color);
    }
}

.clients__icon {
    fill: currentColor;
}