.preference__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    color: var(--heading-color);

    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.preference__text {
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--text-color);
}

.preference{

     @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
    }
}

.preference__item {

    &:not(:last-child){
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .preference__item:not(:last-child){
        margin-bottom: 0;
    }
}

/* SVG ICON Preference */

.preference__wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;

    min-height: 120px;

    background: var(--team-bg-color);
    border-radius: 4px;
}