.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;

    /* display: flex;
    align-items: center;
    justify-content: center; */

    width: 100%;
    height: 100%;

    background-color: var(--dark-gradient);

    transition: opacity 250ms var(--cubic-bz),
        visibility 250ms var(--cubic-bz);
}

.modal-form {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 40px;

    width: 528px;
    height: 581px;

    transform: translate(-50%, -50%);

    background-color: var(--white-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-form__title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;

    display: block;
    margin-bottom: 12px;

    color: var(--heading-color);
}

.modal-form__btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6px;

    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    color: var(--logo-color);

    transition: color 250ms var(--cubic-bz);

    &:hover,
    &:focus {
        color: var(--premary-color);
    }
}

.modal-form__icon {
    fill: currentColor;
}