.container {
    padding: 0 15px;
    margin: 0 auto;

    // outline: 2px solid red;
    // outline-offset: -2px;

    // mobile
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    // tablet styles
    @media screen and (min-width: 768px) {
        width: 768px;
    }

    // desktop styles
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}