:root {
    /* Text Color */
    --premary-color: #2196F3;
    --text-color: #757575;
    --heading-color: #212121;
    --adress-color: rgba(255, 255, 255, 0.6);
    --white-color: #ffffff;
    --logo-color: #000000;
    /* BG Color */
    --bg-color: #F5F5F5;
    --second-bg-color: #2F303A;
    --team-bg-color: #F5F4FA;
    --dark-gradient: rgba(47, 48, 58, 0.4);
    --bg-shadow: rgba(47, 48, 58, 0.8);
    --footer-scl-cl: rgba(255, 255, 255, 0.1);
    --bg-desc: rgba(33, 150, 243, 0.9);
    /* Border */
    --border-btn-cl: rgba(0, 0, 0, 0.15);
    --border-head-cl: #ECECEC;
    --border-card-cl: #EEEEEE;
    --border-client: #AFB1B8;
    --border-input: rgba(33, 33, 33, 0.2);
    /* Animated */
    --cubic-bz: cubic-bezier(0.4, 0, 0.2, 1);
    /* Fonts Style */
    --main-font: 'Roboto', sans-serif;
}